<!-- <p style="color: green"><%= notice %></p>

<%= render @robot %>

<div>
  <%= link_to "Edit this robot", edit_robot_path(@robot) %> |
  <%= link_to "Back to robots", robots_path %>

  <%= button_to "Destroy this robot", @robot, method: :delete %>
</div> -->


<html>
<body>
</body>
</html>
